@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*
{
	font-family: "Titillium Web";
	margin: 0;
	padding: 0;
}

html
{
	scroll-behavior: smooth;
}

.inico
{
	background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url("fondo.jpg");
	background-size: cover;
	background-position: center center;
	color: #fff;
}

.inico .contenido-section
{
	max-width: 1000px;
	margin: auto;
	text-align: center;
	padding: 0 10px;
}

.inico .contenido-section header
{
	padding: 30px;
}

.inico .contenido-section header nav
{
	position: fixed;
	margin-left: 60px;
	background-color: #940253;
	padding: 15px;
	border-radius: 10px;
	text-align: left;
	z-index: 99;
	display: none;
}

.inico .contenido-section header nav a
{
	display: block;
	color: #fff;
	text-decoration: none;
	margin-bottom: 10px;
	font-weight: bold;
}

.inico .contenido-section header .logo
{
	font-weight: bold;
	font-size: 2.5rem;
	font-family: "Yellowtail";
	text-shadow: 0 0 35px #fff;
}

.inico .contenido-section header .logo .color
{
	color: #940253;
	font-family: "Yellowtail";
}

.inico .contenido-section header .nav-bar
{
	position: fixed;
	background-color: #940253;
	font-size: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	cursor: pointer;
	transition: .3s;
}

.inico .contenido-section header .nav-bar:hover
{
	box-shadow: 0 0 35px #fff;
}

.inico .contenido-section .info
{
	padding-bottom: 130px;
}

.inico .contenido-section .info h1
{
	font-size: 3rem;
	letter-spacing: 5px;
}

.inico .contenido-section .info h2
{
	font-weight: normal;
	font-size: 20px;
	margin-top: -10px;
	letter-spacing: 2px;
}

.inico .contenido-section .info .redes
{
	margin: 20px 0;
}

.inico .contenido-section .info .redes a
{
	display: inline-block;
	text-decoration: none;
	background-color: #000;
	color: #940253;
	border: 1px solid #940253;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 0 5px;
	transition: .3s;
}

.inico .contenido-section .info .redes a:hover
{
	color: #fff;
	background-color: #940253;
	box-shadow: 0 0 20px #fff;
}

.inico .contenido-section .foto
{
	position: relative;
}

.inico .contenido-section .foto img
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid #940253;
	position: absolute;
	left: 50%;
	top: -100px;
	transform: translateX(-50%);
}

.titulo-section
{
	font-family: "Yellowtail";
	font-size: 1.5rem;
}

.sobremi
{
	background-color: #e6e6e6;
	padding: 160px 0 100px 0;
	text-align: center;
}

.sobremi .contenido-section
{
	max-width: 1000px;
	margin: auto;
	padding: 0 10px;
}

.sobremi .contenido-section h3
{
	text-transform: uppercase;
	font-size: 30px;
}

.sobremi .contenido-section p
{
	max-width: 700px;
	margin: auto;
	color: #666;
}

.sobremi .contenido-section .fila
{
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
}


.sobremi .contenido-section .fila .col
{
	width: 30%;
}

.sobremi .contenido-section .fila .col i
{
 color: #940253;
 display: inline-block;
 width: 40px;
 height: 40px;
 border: 2px solid #940253;
 line-height: 40px;
 border-radius: 50%;
}

.sobremi .contenido-section .fila .col span
{
	display: block;
	font-weight: bold;
	margin: 8px 0;
}

.habilidades{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("habilidades.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}
.habilidades .contenido-section{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.habilidades .contenido-section h3{
    text-transform: uppercase;
    font-size: 30px;
}
.habilidades .contenido-section .fila{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.habilidades .contenido-section .fila .col{
    width: 47%;
    text-align: left;
}
.habilidades .contenido-section .fila .col .cont-barra{
    display: flex;
    align-items: center;
}
.habilidades .contenido-section .barra{
    display: flex;
    border: 1px solid #940253;
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
}
.habilidades .contenido-section .barra .e{
    background-color: #363636;
    width: 15px;
    height: 30px;
    margin-right: 2px;
}

.resumen
{
	background-color: #e6e6e6;
	padding: 140px 0 100px 0;
	text-align: center;
}

.resumen .contenido-section
{
	max-width: 1000px;
	margin: auto;
	padding: 0 10px;
}

.resumen .contenido-section h3
{
	text-transform: uppercase;
	font-size: 30px;
}

.resumen .contenido-section .info
{
	text-align: left;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.resumen .contenido-section .info .col
{
	width: 45%;
}

.resumen .contenido-section .info .col .titulo
{
	display: inline-block;
	color: #940253;
	font-weight: bold;
	border: 2px solid #940253;
	padding: 10px;
}

.resumen .contenido-section .info .col table
{
	margin-top: 30px;
	border-collapse: collapse;

}

.resumen .contenido-section .info .col table .datos
{
	width: 40%;
	border-bottom: 1px solid #bab9b9;

}


.resumen .contenido-section .info .col table h4
{
	margin-top: 10px;
}

.resumen .contenido-section .info .col table h3
{
	font-size: 20px;
	margin-bottom: 5px;
}

.resumen .contenido-section .info .col table p
{
	font-size: 14px;
}

.resumen .contenido-section .info .col table .promedio
{
	display: block;
	color: #940253;
	margin-top: 10px;
	font-weight: bold;
}

.resumen .contenido-section .info .col table .description
{
	border-left: 1px solid #bab9b9;
	padding-left: 20px;
}


.contacto
{
	background-color: #202020;
	padding: 140px 0 100px 0;
	color: #e6e6e6;
	text-align: center;
}

.contacto .contenido-section
{
	max-width: 1000px;
	margin: auto;
	padding: 0 10px;
}


.contacto .contenido-section h3
{
	text-transform: uppercase;
	font-size: 30px;
}

.contacto .contenido-section .fila
{
	display: flex;
	justify-content: space-between;
}

.contacto .contenido-section .fila .col
{
	margin-top: 50px;
}


.contacto .contenido-section .fila .col h2
{
	color: #940253;
}

@media screen and (max-width:800px)
{
	.habilidades .contenido-section .fila
	{
		display: block;
	}
	.habilidades .contenido-section .fila .col
	{
		width: 100%;
		text-align: center;
	}
	.habilidades .contenido-section .fila .col .cont-barra
	{
		justify-content: center;
	}
	.sobremi .contenido-section .fila
	{
		display: block;
	}
	.sobremi .contenido-section .fila .col
	{
		width: 80%;
		margin: auto;
		margin-top: 20px;
	}
	.resumen .contenido-section .info
	{
		display: block;
	}
	.resumen .contenido-section .info .col
	{
		width: 90%;
		margin: auto;
	}
	.resumen .contenido-section .info .col .titulo
	{
		display: block;
		text-align: center;
	}
	.resumen .contenido-section .info .col table
	{
		margin-top: 10px;
		margin-bottom: 30px;
	}
	.contacto .contenido-section .fila
	{
		display: block;
	}


}